src/main/resources/org/springframework/jmx/config/spring-jmx-3.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.springframework.org/schema/jmx"
	elementFormDefault="qualified">

	<xsd:element name="logger">
		<xsd:complexType>
			<xsd:attribute name="type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Log4J" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="levels" type="xsd:int" default="0" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>